h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

@font-face {
  font-family: Bebas Neue;
  src: url("BebasNeue-Regular.e4881129.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url("Manrope-Bold.7b5495ba.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url("Manrope-SemiBold.5f6655b6.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Manrope;
  src: url("Manrope-Regular.61338348.ttf");
  font-weight: 400;
  font-style: normal;
}

.page {
  scroll-behavior: smooth;
  margin: 0;
  font-family: Bebas Neue, sans-serif;
}

.page__body {
  margin: 0;
  overflow-x: hidden;
}

.page__body--with-menu {
  overflow: hidden;
}

.page__menu {
  background-color: #03839e;
  transition: transform .3s;
  position: fixed;
  top: 0;
  right: 0;
  transform: translateX(-150%);
}

.page__menu:target {
  transform: translateX(0);
}

.container {
  padding: 0 30px;
}

@media (width >= 640px) {
  .container {
    padding: 0 34px;
  }
}

@media (width >= 1020px) {
  .container {
    padding: 0 135px;
  }
}

.icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 32px;
  height: 32px;
  display: block;
}

.icon__menu-open {
  background-image: url("menu_icon.c9983e0d.svg");
  margin: 16px 38px 32px;
}

@media (width >= 640px) {
  .icon__menu-open {
    margin: 32px 42px 0;
  }
}

@media (width >= 1020px) {
  .icon__menu-open {
    display: none;
  }
}

.icon__close {
  background-image: url("close.b195aaf1.svg");
  width: 18px;
  height: 18px;
  margin: 32px 42px;
  position: absolute;
  bottom: 0;
  right: 10%;
}

.icon__bag {
  display: none;
}

@media (width >= 1020px) {
  .icon__bag {
    width: 30px;
    height: 30px;
    margin: 24px 0 0;
    display: block;
  }
}

.grid {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
  display: grid;
}

@media (width >= 640px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 20px;
  }
}

@media (width >= 1020px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 30px;
  }
}

.grid--tabdesktop {
  display: block;
}

@media (width >= 640px) {
  .grid--tabdesktop {
    display: grid;
  }
}

@media (width >= 1020px) {
  .grid--tabdesktop {
    display: grid;
  }
}

.grid__item--mono-1-1 {
  grid-column: 1 / 2;
}

.grid__item--mono-1-2 {
  grid-column: 1 / 3;
}

.grid__item--mono-2-2 {
  grid-column: 2 / 3;
}

@media (width >= 640px) {
  .grid__item--tablet-1-1 {
    grid-column: 1 / 2;
  }

  .grid__item--tablet-1-2 {
    grid-column: 1 / 3;
  }

  .grid__item--tablet-1-3 {
    grid-column: 1 / 4;
  }

  .grid__item--tablet-1-4 {
    grid-column: 1 / 5;
  }

  .grid__item--tablet-1-5 {
    grid-column: 1 / 6;
  }

  .grid__item--tablet-1-6 {
    grid-column: 1 / 7;
  }

  .grid__item--tablet-2-2 {
    grid-column: 2 / 3;
  }

  .grid__item--tablet-2-3 {
    grid-column: 2 / 4;
  }

  .grid__item--tablet-2-4 {
    grid-column: 2 / 5;
  }

  .grid__item--tablet-2-5 {
    grid-column: 2 / 6;
  }

  .grid__item--tablet-2-6 {
    grid-column: 2 / 7;
  }

  .grid__item--tablet-3-3 {
    grid-column: 3 / 4;
  }

  .grid__item--tablet-3-4 {
    grid-column: 3 / 5;
  }

  .grid__item--tablet-3-5 {
    grid-column: 3 / 6;
  }

  .grid__item--tablet-3-6 {
    grid-column: 3 / 7;
  }

  .grid__item--tablet-4-4 {
    grid-column: 4 / 5;
  }

  .grid__item--tablet-4-5 {
    grid-column: 4 / 6;
  }

  .grid__item--tablet-4-6 {
    grid-column: 4 / 7;
  }

  .grid__item--tablet-5-5 {
    grid-column: 5 / 6;
  }

  .grid__item--tablet-5-6 {
    grid-column: 5 / 7;
  }

  .grid__item--tablet-6-6 {
    grid-column: 6 / 7;
  }
}

@media (width >= 1020px) {
  .grid__item--desktop-1-1 {
    grid-column: 1 / 2;
  }

  .grid__item--desktop-1-2 {
    grid-column: 1 / 3;
  }

  .grid__item--desktop-1-3 {
    grid-column: 1 / 4;
  }

  .grid__item--desktop-1-4 {
    grid-column: 1 / 5;
  }

  .grid__item--desktop-1-5 {
    grid-column: 1 / 6;
  }

  .grid__item--desktop-1-6 {
    grid-column: 1 / 7;
  }

  .grid__item--desktop-1-7 {
    grid-column: 1 / 8;
  }

  .grid__item--desktop-1-8 {
    grid-column: 1 / 9;
  }

  .grid__item--desktop-1-9 {
    grid-column: 1 / 10;
  }

  .grid__item--desktop-1-10 {
    grid-column: 1 / 11;
  }

  .grid__item--desktop-1-11 {
    grid-column: 1 / 12;
  }

  .grid__item--desktop-1-12 {
    grid-column: 1 / 13;
  }

  .grid__item--desktop-2-2 {
    grid-column: 2 / 3;
  }

  .grid__item--desktop-2-3 {
    grid-column: 2 / 4;
  }

  .grid__item--desktop-2-4 {
    grid-column: 2 / 5;
  }

  .grid__item--desktop-2-5 {
    grid-column: 2 / 6;
  }

  .grid__item--desktop-2-6 {
    grid-column: 2 / 7;
  }

  .grid__item--desktop-2-7 {
    grid-column: 2 / 8;
  }

  .grid__item--desktop-2-8 {
    grid-column: 2 / 9;
  }

  .grid__item--desktop-2-9 {
    grid-column: 2 / 10;
  }

  .grid__item--desktop-2-10 {
    grid-column: 2 / 11;
  }

  .grid__item--desktop-2-11 {
    grid-column: 2 / 12;
  }

  .grid__item--desktop-2-12 {
    grid-column: 2 / 13;
  }

  .grid__item--desktop-3-3 {
    grid-column: 3 / 4;
  }

  .grid__item--desktop-3-4 {
    grid-column: 3 / 5;
  }

  .grid__item--desktop-3-5 {
    grid-column: 3 / 6;
  }

  .grid__item--desktop-3-6 {
    grid-column: 3 / 7;
  }

  .grid__item--desktop-3-7 {
    grid-column: 3 / 8;
  }

  .grid__item--desktop-3-8 {
    grid-column: 3 / 9;
  }

  .grid__item--desktop-3-9 {
    grid-column: 3 / 10;
  }

  .grid__item--desktop-3-10 {
    grid-column: 3 / 11;
  }

  .grid__item--desktop-3-11 {
    grid-column: 3 / 12;
  }

  .grid__item--desktop-3-12 {
    grid-column: 3 / 13;
  }

  .grid__item--desktop-4-4 {
    grid-column: 4 / 5;
  }

  .grid__item--desktop-4-5 {
    grid-column: 4 / 6;
  }

  .grid__item--desktop-4-6 {
    grid-column: 4 / 7;
  }

  .grid__item--desktop-4-7 {
    grid-column: 4 / 8;
  }

  .grid__item--desktop-4-8 {
    grid-column: 4 / 9;
  }

  .grid__item--desktop-4-9 {
    grid-column: 4 / 10;
  }

  .grid__item--desktop-4-10 {
    grid-column: 4 / 11;
  }

  .grid__item--desktop-4-11 {
    grid-column: 4 / 12;
  }

  .grid__item--desktop-4-12 {
    grid-column: 4 / 13;
  }

  .grid__item--desktop-5-5 {
    grid-column: 5 / 6;
  }

  .grid__item--desktop-5-6 {
    grid-column: 5 / 7;
  }

  .grid__item--desktop-5-7 {
    grid-column: 5 / 8;
  }

  .grid__item--desktop-5-8 {
    grid-column: 5 / 9;
  }

  .grid__item--desktop-5-9 {
    grid-column: 5 / 10;
  }

  .grid__item--desktop-5-10 {
    grid-column: 5 / 11;
  }

  .grid__item--desktop-5-11 {
    grid-column: 5 / 12;
  }

  .grid__item--desktop-5-12 {
    grid-column: 5 / 13;
  }

  .grid__item--desktop-6-6 {
    grid-column: 6 / 7;
  }

  .grid__item--desktop-6-7 {
    grid-column: 6 / 8;
  }

  .grid__item--desktop-6-8 {
    grid-column: 6 / 9;
  }

  .grid__item--desktop-6-9 {
    grid-column: 6 / 10;
  }

  .grid__item--desktop-6-10 {
    grid-column: 6 / 11;
  }

  .grid__item--desktop-6-11 {
    grid-column: 6 / 12;
  }

  .grid__item--desktop-6-12 {
    grid-column: 6 / 13;
  }

  .grid__item--desktop-7-7 {
    grid-column: 7 / 8;
  }

  .grid__item--desktop-7-8 {
    grid-column: 7 / 9;
  }

  .grid__item--desktop-7-9 {
    grid-column: 7 / 10;
  }

  .grid__item--desktop-7-10 {
    grid-column: 7 / 11;
  }

  .grid__item--desktop-7-11 {
    grid-column: 7 / 12;
  }

  .grid__item--desktop-7-12 {
    grid-column: 7 / 13;
  }

  .grid__item--desktop-8-8 {
    grid-column: 8 / 9;
  }

  .grid__item--desktop-8-9 {
    grid-column: 8 / 10;
  }

  .grid__item--desktop-8-10 {
    grid-column: 8 / 11;
  }

  .grid__item--desktop-8-11 {
    grid-column: 8 / 12;
  }

  .grid__item--desktop-8-12 {
    grid-column: 8 / 13;
  }

  .grid__item--desktop-9-9 {
    grid-column: 9 / 10;
  }

  .grid__item--desktop-9-10 {
    grid-column: 9 / 11;
  }

  .grid__item--desktop-9-11 {
    grid-column: 9 / 12;
  }

  .grid__item--desktop-9-12 {
    grid-column: 9 / 13;
  }

  .grid__item--desktop-10-10 {
    grid-column: 10 / 11;
  }

  .grid__item--desktop-10-11 {
    grid-column: 10 / 12;
  }

  .grid__item--desktop-10-12 {
    grid-column: 10 / 13;
  }

  .grid__item--desktop-11-11 {
    grid-column: 11 / 12;
  }

  .grid__item--desktop-11-12 {
    grid-column: 11 / 13;
  }

  .grid__item--desktop-12-12 {
    grid-column: 12 / 13;
  }
}

.logo {
  justify-content: center;
  display: block;
}

.logo__img {
  width: 134px;
  height: 43px;
  margin: 15px 30px 0 22px;
}

@media (width >= 640px) {
  .logo__img {
    width: 142px;
    margin: 30px 34px;
  }
}

@media (width >= 1020px) {
  .logo__img {
    margin: 20px 134px;
  }
}

.logo_imgins {
  width: 20px;
  height: 20px;
}

@media (width >= 1020px) {
  .logo_imgins {
    width: 32px;
    height: 32px;
  }
}

.logo__imgf {
  width: 134px;
  height: 43px;
}

@media (width >= 640px) {
  .logo__imgf {
    width: 142px;
  }
}

.header {
  background-position: 0 0;
  background-repeat: no-repeat;
  margin: 0 0 110px;
  position: relative;
}

@media (width >= 640px) {
  .header {
    background-image: url("Rectan.8af6ca5e.png");
  }
}

@media (width >= 1020px) {
  .header {
    background-image: url("Rectangle.e3985e6c.png");
  }
}

.header__nav {
  justify-content: space-between;
  display: flex;
}

.header__img {
  background-image: url("SMallpotsmal.97103f8b.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 320px;
}

@media (width >= 640px) {
  .header__img {
    width: 320px;
    margin: 0 34px 0 0;
    position: absolute;
    right: 0;
  }
}

@media (width >= 1020px) {
  .header__img {
    width: 500px;
    height: 500px;
  }
}

.header__title {
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #0000;
  -webkit-text-stroke: 1px #03839e;
  z-index: 3;
  padding: 25px 0 30px;
  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 43px;
}

.header__title-blue {
  color: #03839e;
}

@media (width >= 640px) {
  .header__title {
    font-size: 64px;
    line-height: 64px;
  }
}

.header__price {
  color: #333;
  align-items: flex-end;
  font-family: Manrope, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 36px;
  display: flex;
}

.header__text {
  color: #4f4f4f;
  align-items: flex-end;
  margin: 2px 0 20px;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 640px) {
  .header__text {
    margin: 5px 0 50px;
  }
}

.features__title {
  letter-spacing: .15em;
  color: #0000;
  -webkit-text-stroke: 1px #03839e;
  z-index: 3;
  margin-bottom: 70px;
  font-family: Bebas Neue, sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 70px;
}

.features__card--1 {
  transition: transform 1s, box-shadow 1s;
  box-shadow: 16px 16px 32px #0000000d;
}

.features__card--1:hover {
  transform: scale(.9);
  box-shadow: 8px -1px 15px -2px #ff0;
}

.features__card--2 {
  transition: transform 1s, box-shadow 1s;
  box-shadow: 16px 16px 32px #0000000d;
}

.features__card--2:hover {
  transform: scale(.9);
  box-shadow: 8px -1px 15px -2px #009dff;
}

.features__card--3 {
  transition: transform 1s, box-shadow 1s;
  box-shadow: 16px 16px 32px #0000000d;
}

.features__card--3:hover {
  transform: scale(.9);
  box-shadow: 8px -1px 15px -2px #ffa600;
}

.features__img {
  object-fit: cover;
  object-position: center;
  justify-content: center;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.features__name {
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #333;
  text-align: center;
  font-family: Bebas Neue, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.features__description {
  color: #4f4f4f;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.button {
  text-transform: uppercase;
  color: #121212;
  box-sizing: border-box;
  cursor: pointer;
  width: 260px;
  height: 48px;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  transition: all .3s;
}

.button__img {
  text-align: center;
  width: 24px;
  height: 12px;
  margin: auto;
  padding: 0 12px;
}

@media (width >= 1020px) {
  .button__img {
    width: 28px;
  }
}

.button__ticket--arroworange {
  background: #ffe339;
  border: 1px solid #ffe339;
  height: 48px;
  transition: all 1s;
}

.button__ticket--arroworange:hover {
  opacity: .6;
  background-color: #ffec7a;
}

.button__ticket--blue {
  color: #fff;
  background: #03839e;
  border: 1px solid #03839e;
  width: 240px;
  height: 48px;
  margin: 40px 0 0;
  transition: all 1s;
}

.button__ticket--blue:hover {
  opacity: .6;
}

.button__ticket--white {
  cursor: pointer;
  color: #121212;
  background: #ffe339;
  border: none;
  width: 240px;
  height: 48px;
  font-family: Manrope, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 150%;
  text-decoration: none;
  transition: all .3s;
}

.button__ticket--white:hover {
  opacity: .6;
  background: #ffec7a;
}

@media (width >= 640px) {
  .button__ticket--white {
    background: #fff;
    border: 1px solid #03839e;
    width: 270px;
  }

  .button__ticket--white:hover {
    opacity: .6;
    background: #03839e;
  }
}

.vertical-text {
  writing-mode: vertical-lr;
  outline: none;
  gap: 20px;
  width: 30px;
  font-family: Manrope, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  position: absolute;
  bottom: 64px;
  right: 0;
}

@media (width >= 640px) {
  .vertical-text {
    bottom: 0;
    left: 10px;
  }
}

@media (width >= 1020px) {
  .vertical-text {
    left: 120px;
  }
}

.vertical-text-menu {
  text-transform: uppercase;
  color: #f8f8f8;
  writing-mode: vertical-rl;
  margin: 20px 42px;
  font-family: Manrope, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  position: absolute;
  bottom: 50px;
  right: 10%;
  transform: rotate(-180deg);
}

.vertical__link {
  color: #03839e;
  letter-spacing: .15em;
  text-decoration: none;
}

.vertical__img {
  object-fit: contain;
  height: 44px;
  position: absolute;
  bottom: -60px;
  left: 5px;
}

.vertical-text1 {
  letter-spacing: .22em;
  writing-mode: vertical-rl;
  color: #828282;
  align-items: center;
  gap: 10px;
  font-family: Bebas Neue, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  display: flex;
}

.vertical-text1:before {
  content: "";
  background-color: #828282;
  align-items: center;
  width: 1px;
  height: 65px;
  display: block;
}

.vertical-text1-first {
  display: flex;
  position: absolute;
  bottom: 40px;
  right: 10px;
}

@media (width >= 640px) {
  .vertical-text1-first {
    display: flex;
    position: absolute;
    top: -110px;
    right: 20px;
  }
}

@media (width >= 1020px) {
  .vertical-text1-first {
    top: 0;
    right: 50px;
  }
}

.vertical-text1-seconds {
  display: none;
}

@media (width >= 1020px) {
  .vertical-text1-seconds {
    display: flex;
    position: absolute;
    bottom: 110px;
    transform: rotate(180deg);
  }
}

.vertical-text1-mater1 {
  display: none;
}

@media (width >= 640px) {
  .vertical-text1-mater1 {
    display: flex;
    position: absolute;
    top: 0;
    right: 20px;
  }
}

@media (width >= 1020px) {
  .vertical-text1-mater1 {
    display: none;
  }
}

.vertical-text1-mater2 {
  display: none;
}

@media (width >= 640px) {
  .vertical-text1-mater2 {
    display: flex;
    position: absolute;
    top: 170px;
    left: 20px;
  }
}

@media (width >= 1020px) {
  .vertical-text1-mater2 {
    display: none;
  }
}

.menu {
  z-index: 6;
  width: 75%;
  height: 100%;
}

@media (width >= 1020px) {
  .menu {
    display: none;
  }
}

.menu__container {
  box-sizing: border-box;
  padding: 32px 0;
}

.menu__list {
  padding: 138px 30px 15px 81px;
  list-style-type: none;
}

.menu__item {
  padding: 0 0 15px;
}

.menu__link {
  color: #f8f8f8;
  border-bottom: 1px solid #0000;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
  transition: border-color .3s;
}

.radius {
  text-align: center;
  letter-spacing: .15em;
  color: #f8f8f8;
  background-color: #eb5757;
  border-radius: 50%;
  align-items: center;
  width: 6px;
  height: 6px;
  margin-bottom: 10px;
  padding: 4px;
  font-family: Bebas Neue, sans-serif;
  font-size: 9.17px;
  font-weight: 400;
  line-height: 11px;
  display: inline-block;
}

.menunav {
  margin: 0;
  display: none;
}

@media (width >= 1020px) {
  .menunav {
    display: flex;
  }
}

.menunav__list {
  justify-content: end;
  padding: 0;
  display: flex;
}

.menunav__item {
  padding: 10px 60px 0 0;
  list-style: none;
}

.menunav__link {
  text-align: center;
  color: #4f4f4f;
  align-items: center;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.basket {
  position: relative;
}

.basket__title {
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #333;
  margin: 0;
  padding: 0 0 26px;
  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 640px) {
  .basket__title:after {
    content: " ";
    background: #333;
    width: 1px;
    height: 44px;
    margin: 5px 10px 0;
    display: inline-block;
    transform: rotate(22deg);
  }
}

@media (width >= 1020px) {
  .basket__1 {
    padding: 0 0 0 100px;
  }
}

.basket__description {
  color: #4f4f4f;
  text-align: justify;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.basket__block {
  padding: 0 0 70px;
  display: block;
}

@media (width >= 640px) {
  .basket__block {
    justify-content: space-between;
    margin: 0 0 110px;
    padding: 0;
    display: flex;
  }
}

@media (width >= 1020px) {
  .basket__block {
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0;
    display: flex;
  }
}

.basket__block1 {
  padding: 0 0 70px;
}

@media (width >= 640px) {
  .basket__block1 {
    margin: 0 0 110px;
    padding: 0;
  }
}

.basket__item-img2 {
  display: none;
}

@media (width >= 640px) {
  .basket__item-img2 {
    flex: 0 0 300px;
    padding: 0 0 0 56px;
    display: flex;
  }
}

@media (width >= 1020px) {
  .basket__item-img2 {
    flex: 0 0 300px;
    padding: 0 0 40px 100px;
    display: flex;
  }
}

.basket__item-img3 {
  display: none;
}

@media (width >= 640px) {
  .basket__item-img3 {
    flex: 0 0 284px;
    padding: 0 20px 0 0;
    display: flex;
  }
}

@media (width >= 1020px) {
  .basket__item-img3 {
    flex: 0 0 470px;
    padding: 0 0 45px 56px;
    display: flex;
  }
}

.basket__container {
  display: block;
}

@media (width >= 1020px) {
  .basket__container {
    justify-content: space-between;
    display: flex;
  }
}

.basket__block3 {
  display: block;
}

@media (width >= 640px) {
  .basket__block3 {
    flex-direction: row-reverse;
    display: flex;
  }
}

@media (width >= 1020px) {
  .basket__block3 {
    flex-direction: column-reverse;
    display: flex;
  }
}

@media (width >= 640px) {
  .basket__text {
    display: block;
  }
}

.basket__text3 {
  display: block;
}

@media (width >= 640px) {
  .basket__text3 {
    flex-direction: row;
    justify-content: start;
    display: flex;
  }
}

@media (width >= 1020px) {
  .basket__text3 {
    flex: 0 0 470px;
    padding: 0 0 45px 56px;
    display: flex;
  }
}

.basket .number1 {
  justify-content: start;
}

@media (width >= 640px) {
  .basket .number1 {
    justify-content: end;
  }
}

.basket__number {
  letter-spacing: .15em;
  color: #000;
  padding: 0 0 0 10px;
  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 65px;
  display: flex;
}

.basket__number:before {
  content: " ";
  background: #333;
  width: 1px;
  height: 48px;
  margin: 0 10px 0 0;
  display: flex;
  transform: rotate(22deg);
}

.basket__number-b {
  text-align: start;
}

@media (width >= 640px) {
  .basket__number-b {
    text-align: end;
    padding: 40px 10px 10px;
  }
}

.basket__img {
  display: none;
}

@media (width >= 640px) {
  .basket__img {
    object-fit: cover;
    object-position: center;
    display: block;
  }

  .basket__img1 {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}

@media (width >= 1020px) {
  .basket__img1 {
    width: 110%;
  }
}

.basket__util {
  display: none;
}

@media (width >= 640px) {
  .basket__util {
    color: #333;
    padding: 10px;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    display: block;
    position: relative;
  }
}

.basket__star {
  font-size: 24px;
  line-height: 33px;
  position: absolute;
  left: -20px;
}

.util2 {
  text-align: end;
}

@media (width >= 1020px) {
  .util2 {
    text-align: start;
  }
}

.start {
  right: 100px;
}

.potrteam {
  background-image: url("teambagrmono.85b37054.png");
  background-position: bottom;
  background-repeat: no-repeat;
  margin: 0 0 110px;
  position: relative;
}

@media (width >= 640px) {
  .potrteam {
    background-image: url("teambagrtabs.6e8344ec.png");
    background-position: 0;
  }
}

.potrteam__block {
  text-align: justify;
  flex-direction: column-reverse;
  display: flex;
}

@media (width >= 640px) {
  .potrteam__block {
    display: grid;
  }
}

.potrteam__img {
  width: 100%;
}

.potrteam__title {
  letter-spacing: .15em;
  color: #333;
  align-items: center;
  font-family: Bebas Neue, sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 70px;
}

.potrteam__abouts {
  color: #4f4f4f;
  padding: 30px 0 60px;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.potrteam__name {
  display: none;
}

@media (width >= 640px) {
  .potrteam__name {
    letter-spacing: .15em;
    color: #0000;
    -webkit-text-stroke: 1px #03839e;
    height: 240px;
    margin: 0;
    padding: 0;
    font-family: Bebas Neue, sans-serif;
    font-size: 220px;
    font-weight: 400;
    display: block;
  }
}

@media (width >= 1020px) {
  .potrteam__name {
    font-size: 288px;
  }
}

.name1 {
  transform: translateX(-60px);
}

.name2 {
  text-align: end;
  margin-top: -100px;
  transform: translateX(30px);
}

@media (width >= 1020px) {
  .name2 {
    transform: translateX(130px);
  }
}

.materials {
  background-image: url("materialphoto.50b92074.png");
  background-position: 50% 130px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 440px;
  margin-bottom: 320px;
  position: relative;
}

@media (width >= 640px) {
  .materials {
    background-image: url("HeroShottablet.014ecff3.webp");
    height: 75vw;
    margin-bottom: 130px;
  }
}

@media (width >= 1020px) {
  .materials {
    background-image: url("HeroShotdesktop.e889e52f.webp");
    height: 75vw;
  }
}

.materials__title {
  letter-spacing: .15em;
  color: #03839e;
  margin-bottom: 50%;
  font-family: Bebas Neue, sans-serif;
  font-size: 58px;
  font-weight: 400;
  line-height: 70px;
  position: relative;
}

@media (width >= 640px) {
  .materials__title {
    letter-spacing: .12em;
    font-size: 80px;
    line-height: 96px;
  }
}

@media (width >= 1020px) {
  .materials__title {
    letter-spacing: .12em;
    font-size: 140px;
    line-height: 167px;
  }
}

.materials__box {
  display: none;
}

@media (width >= 640px) {
  .materials__box {
    color: #4f4f4f;
    width: 45%;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    display: block;
    position: absolute;
    top: 100px;
    right: 8%;
  }
}

@media (width >= 1020px) {
  .materials__box {
    width: 36%;
    top: 140px;
  }
}

.materials__boxtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}

.materials__button {
  display: flex;
}

.swiper {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

@media (width >= 640px) {
  .swiper {
    display: none;
  }
}

.swiper-slide {
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  background-color: #00000073;
  width: 90%;
  height: 256px;
  margin: 0 auto;
}

.text_slides {
  color: #f8f8f8;
  text-align: left;
  height: 256px;
  padding: 28px 50px 0 44px;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

.swiper-pagination {
  bottom: 50px;
  right: 45%;
}

@media (width >= 640px) {
  .swiper-pagination {
    display: none;
  }
}

.swiper-pagination-bullet {
  cursor: pointer;
  opacity: 1;
  background: #f7f7f7;
  border-radius: 0%;
  width: 7px;
  height: 7px;
  transition: background-color .6s;
  display: inline-block;
  transform: rotate(-45deg);
}

.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px);
}

.swiper-pagination-bullet--active {
  background: #0000004d;
  border: 1px solid #f8f8f8;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  }

  to {
    opacity: 1;
  }
}

.buttonmaterial {
  display: none;
}

@media (width >= 640px) {
  .buttonmaterial {
    background-image: url("Component.5a0194e9.png");
    background-position: cover;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 50%;
    width: 52px;
    height: 52px;
    display: block;
  }
}

.buttonmaterial__text {
  box-sizing: border-box;
  mix-blend-mode: normal;
  -webkit-backdrop-filter: blur(17px);
  backdrop-filter: blur(17px);
  text-align: center;
  color: #f8f8f8;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  background-color: #0006;
  width: 284px;
  padding: 35px;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  position: absolute;
}

@media (width >= 640px) {
  .buttonmaterial__text-1 {
    bottom: 120%;
    left: -100%;
  }
}

@media (width >= 1020px) {
  .buttonmaterial__text-1 {
    bottom: 120%;
    left: -100%;
  }
}

@media (width >= 640px) {
  .buttonmaterial__text-2 {
    bottom: 120%;
    left: -500%;
  }
}

@media (width >= 1020px) {
  .buttonmaterial__text-2 {
    bottom: 120%;
    left: -650%;
  }
}

@media (width >= 640px) {
  .buttonmaterial__text-3 {
    bottom: -120%;
    left: -600%;
  }
}

@media (width >= 1020px) {
  .buttonmaterial__text-3 {
    bottom: -120%;
    left: -700%;
  }
}

@media (width >= 640px) {
  .buttonmaterial__text-4 {
    bottom: 120%;
    right: -200%;
  }
}

@media (width >= 1020px) {
  .buttonmaterial__text-4 {
    bottom: 120%;
    right: -200%;
  }
}

@media (width >= 640px) {
  .buttonmaterial__text-5 {
    top: 120%;
    right: -280%;
  }
}

@media (width >= 1020px) {
  .buttonmaterial__text-5 {
    top: 120%;
    right: -280%;
  }
}

.buttonmaterial:hover {
  background-image: url("Componenthover.2a0b4f7e.png");
}

.buttonmaterial:hover .buttonmaterial__text {
  opacity: 1;
}

@media (width >= 640px) {
  .button__1 {
    display: block;
    position: absolute;
    bottom: 13%;
    left: 10%;
  }
}

@media (width >= 1020px) {
  .button__1 {
    bottom: 6%;
    left: 16%;
  }
}

@media (width >= 640px) {
  .button__2 {
    display: block;
    position: absolute;
    bottom: 30%;
    left: 30%;
  }
}

@media (width >= 1020px) {
  .button__2 {
    bottom: 28%;
    left: 37%;
  }
}

@media (width >= 640px) {
  .button__3 {
    display: block;
    position: absolute;
    bottom: 7%;
    left: 47%;
  }

  .button__4 {
    display: block;
    position: absolute;
    bottom: 17%;
    left: 58%;
  }

  .button__5 {
    display: block;
    position: absolute;
    bottom: 23%;
    left: 78%;
  }
}

.potrsize {
  color: #4f4f4f;
  margin: 0 0 110px;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

@media (width >= 640px) {
  .potrsize__container {
    padding: 0 34px;
  }
}

@media (width >= 1020px) {
  .potrsize__container {
    padding: 0 135px;
    display: flex;
  }
}

.potrsize__title {
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #000;
  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 150%;
}

.potrsize__subtitle {
  letter-spacing: .15em;
  color: #000;
  font-family: Bebas Neue, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.potrsize .img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  display: block;
}

@media (width >= 640px) {
  .potrsize .img {
    display: none;
  }
}

.potrsize__img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  padding: 30px 0 12px;
}

@media (width >= 640px) {
  .potrsize__img {
    width: 100%;
    transform: translateX(0);
  }
}

.potrsize__about1 {
  text-align: justify;
}

@media (width >= 1020px) {
  .potrsize__about1 {
    border-right: 1px solid #d8d8d8;
    flex: 25%;
    padding: 12px 16px 0 0;
  }
}

.potrsize__about2 {
  text-align: justify;
  padding: 0 0 22px;
}

@media (width >= 640px) {
  .potrsize__about2 {
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
  }
}

@media (width >= 1020px) {
  .potrsize__about2 {
    flex: 75%;
    display: flex;
  }
}

.potrsize__text {
  padding: 0 30px;
}

@media (width >= 640px) {
  .potrsize__text {
    padding: 0 36px;
  }
}

@media (width >= 1020px) {
  .potrsize__text {
    padding: 0 10% 0 30px;
  }
}

.potrsize__about3 {
  padding: 0 0 16px;
}

@media (width >= 640px) {
  .potrsize__about3 {
    width: 100%;
  }
}

@media (width >= 1020px) {
  .potrsize__about3 {
    width: 60%;
  }
}

.largetext {
  margin: 0;
}

@media (width >= 640px) {
  .largetext {
    padding: 0 0 50px;
  }
}

@media (width >= 1020px) {
  .largetext {
    padding: 0 0 40px;
  }
}

.message {
  color: #000;
  margin: 0 0 100px;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  position: relative;
}

.message__background-image {
  z-index: -1;
  background-image: url("Contactmono.e5e74afb.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1004px;
  position: absolute;
}

@media (width >= 640px) {
  .message__background-image {
    background-image: url("Contacttablet.bfa7edf7.png");
    height: 584px;
    margin: 0;
  }
}

@media (width >= 1020px) {
  .message__background-image {
    background-image: url("contactdesktop.1b5e9a29.png");
    width: 90%;
  }
}

@media (width >= 640px) {
  .message {
    height: 568px;
  }
}

.message__title {
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #000;
  margin: 38px 0 0;
  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 640px) {
  .message__title {
    white-space: nowrap;
  }
}

.message__text {
  margin: 0;
  padding: 0 0 40px;
}

@media (width >= 640px) {
  .message__text {
    white-space: nowrap;
  }
}

.message__field {
  color: #4f4f4f;
  background-color: #ffec7a;
  border: none;
  border-bottom: 1px solid #0000004d;
  outline: none;
  width: 260px;
  height: 24px;
  margin: 20px 0 0;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  line-height: 150%;
  display: block;
}

.message__field:focus {
  color: #333;
  border-bottom: 1px solid #333;
}

.message__field:focus-within:invalid {
  color: #eb5757;
  border-bottom: 1px solid #eb5757;
}

@media (width >= 640px) {
  .message__field {
    width: 340px;
  }
}

@media (width >= 1020px) {
  .message__field {
    width: 370px;
  }
}

.message__emblem {
  position: absolute;
  top: -90px;
  right: 0;
}

@media (width >= 1020px) {
  .message__emblem {
    right: 3%;
  }
}

.contact {
  color: #00000063;
  margin: 56px 0 0;
  font-family: Manrope, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 640px) {
  .contact {
    margin: 64px 0 0;
  }
}

@media (width >= 1020px) {
  .contact {
    margin: 72px 0 0;
  }
}

.contact__info {
  margin: 5px 0 36px;
}

@media (width >= 640px) {
  .contact__info {
    margin: 5px 0 20px;
  }
}

@media (width >= 1020px) {
  .contact__info {
    margin: 5px 0 25px;
  }
}

.contact__info-link {
  color: #000;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
}

.form__title {
  padding: 4px 0 20px;
  font-size: 24px;
  line-height: 150%;
}

input:-webkit-autofill {
  -webkit-text-fill-color: #03839e;
  border-bottom: 1px solid #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #ffec7a;
}

input:-webkit-autofill:hover {
  -webkit-text-fill-color: #03839e;
  border-bottom: 1px solid #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #ffec7a;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: #03839e;
  border-bottom: 1px solid #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #ffec7a;
}

textarea:-webkit-autofill {
  -webkit-text-fill-color: #03839e;
  border-bottom: 1px solid #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #ffec7a;
}

textarea:-webkit-autofill:hover {
  -webkit-text-fill-color: #03839e;
  border-bottom: 1px solid #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #ffec7a;
}

textarea:-webkit-autofill:focus {
  -webkit-text-fill-color: #03839e;
  border-bottom: 1px solid #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #ffec7a;
}

select:-webkit-autofill {
  -webkit-text-fill-color: #03839e;
  border-bottom: 1px solid #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #ffec7a;
}

select:-webkit-autofill:hover {
  -webkit-text-fill-color: #03839e;
  border-bottom: 1px solid #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #ffec7a;
}

select:-webkit-autofill:focus {
  -webkit-text-fill-color: #03839e;
  border-bottom: 1px solid #03839e;
  transition: background-color 5000s ease-in-out;
  -webkit-box-shadow: inset 0 0 0 1000px #ffec7a;
}

.footer {
  justify-content: space-between;
  margin: 0 0 30px;
  display: flex;
}

@media (width >= 640px) {
  .footer {
    margin: 0 0 120px;
  }
}

@media (width >= 1020px) {
  .footer {
    margin: 0 0 64px;
  }
}

.footer__icon {
  width: 80%;
}

@media (width >= 640px) {
  .footer__icon {
    width: 30%;
  }
}

.footer__subtitle {
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #000;
  font-family: Bebas Neue, serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.footer__text {
  display: none;
}

@media (width >= 640px) {
  .footer__text {
    color: #000;
    padding: 0 0 10px;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    display: block;
  }
}

.footer__text1 {
  color: #000;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 640px) {
  .footer__text1 {
    display: none;
  }
}

.footer__iconemblem {
  justify-content: space-between;
  margin: 0 0 40px;
  display: flex;
}

@media (width >= 640px) {
  .footer__iconemblem {
    margin: 0 0 32px;
  }
}

@media (width >= 1020px) {
  .footer__iconemblem {
    margin: 0 0 72px;
  }
}

.footer__logo {
  text-align: center;
}

.benefits {
  margin: 0 0 110px;
  position: relative;
}

@media (width >= 1020px) {
  .benefits {
    margin: 0;
  }
}

.benefits__gallery {
  display: none;
}

@media (width >= 1020px) {
  .benefits__gallery {
    background-image: url("Frame.552b761b.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 828px;
    display: grid;
    transform: translateX(-60px);
  }
}

.benefits__img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 828px;
}

@media (width >= 640px) {
  .benefits__box {
    justify-content: space-between;
    display: flex;
  }
}

@media (width >= 1020px) {
  .benefits__box {
    margin: 190px 0 0;
    display: grid;
  }
}

.benefits__list {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  display: block;
}

@media (width >= 640px) {
  .benefits__list {
    padding: 0 30px 0 0;
  }
}

@media (width >= 1020px) {
  .benefits__list {
    flex-flow: wrap;
    min-width: 582px;
    max-width: 583px;
    padding: 0;
    display: flex;
  }
}

.benefits__item {
  color: #333;
  white-space: nowrap;
  align-items: flex-end;
  width: min-content;
  height: 100px;
  font-family: Manrope, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 150%;
  display: block;
  position: relative;
}

.benefits__item:before {
  content: " ";
  background: #4f4f4f;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 20px;
  left: -16px;
  transform: rotate(-45deg);
}

@media (width >= 1020px) {
  .benefits__item:first-child {
    padding: 0 22px 0 0;
  }
}

.benefits__item-text {
  color: #828282;
  white-space: wrap;
  margin: 0;
  font-family: Manrope, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 1020px) {
  .benefits__item-text {
    white-space: nowrap;
    padding: 5px 0 40px;
  }
}

.benefits__clik {
  flex-direction: column;
  justify-content: start;
  display: flex;
}

@media (width >= 640px) {
  .benefits__clik {
    justify-content: center;
  }
}

@media (width >= 1020px) {
  .benefits__clik {
    justify-content: start;
  }
}

.benefits__sale {
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #eb5757;
  text-align: start;
  margin: 35px 0 5px;
  font-family: Bebas Neue, sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 150%;
}

@media (width >= 1020px) {
  .benefits__sale {
    margin: 70px 0 5px 100px;
  }
}

.benefits__text {
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #03839e;
  font-family: Bebas Neue, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

@media (width >= 1020px) {
  .benefits__text {
    margin: 0 0 150px 100px;
  }
}

/*# sourceMappingURL=index.971c2ea4.css.map */
